@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem;
  font-family: 'Share Tech Mono', monospace;
}

.header {
  padding: 1rem;
  color: black;
  border: 1px solid #000;
  margin: 0.5rem;
}

.timer {
  font-size: 2em;
  text-align: center;
  padding: 0 .5rem;
  color: black;
  border: 1px solid #000;
  margin: 0.5rem 0;
}

.app {
  margin-inline: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style: none;
  line-height: 3rem;
}

.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

.block {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 55px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden {
  background-image: url(./icons/block.png);
}

.flagged {
  background-image: url(./icons/flag.png);
}

.hidden:hover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./icons/block.png);
}

.mined {
  background-image: url(./icons/mine.png);
  background-size: 80%;
}

.risk_1 {
  background-image: url(./icons/risk_1.png);
}

.risk_2 {
  background-image: url(./icons/risk_2.png);
}

.risk_3 {
  background-image: url(./icons/risk_3.png);
}

.risk_4 {
  background-image: url(./icons/risk_4.png);
}

.risk_5 {
  background-image: url(./icons/risk_5.png);
}

.risk_6 {
  background-image: url(./icons/risk_6.png);
}

.risk_7 {
  background-image: url(./icons/risk_7.png);
}

.risk_8 {
  background-image: url(./icons/risk_8.png);
}